html {
  background-image: url("images/high_speed_train.jpg");
}

body {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #4C4C4C;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#header {
  font-size: 80px;
  padding: 20px;
}

a.brand-logo {
  padding-left: 20px;
  font-size: 40px;
  width: 80%;
}

#weather, #weather-li {
  padding-right: 20px;
  font-size: 18px;
}

div.nav-wrapper {
   color: #fff;
   font-size: 180px;
   text-align: left;
   background-color: #3F3F3F;
}

#results-panel {
  margin-top: 40px;
}

th {
  font-size: 20px;
  color: #2bbbad;
  padding-bottom: 10px;
}

td {
  font-size: 18px;
  padding-bottom: 13px;
}

div.panel.panel-primary {
  background-color: #fff;
  padding: 20px;
  border: 3px solid #3F3F3F;
}

.train-adder {
  margin-bottom: 30px;
}

.btn, .btn:hover {
  background-color: #2bbbad;
}

#current-time-display {
  font-size: 30px;
  color: #2bbbad;
}

label {
  font-size: 16px;
  color: #4C4C4C;
}

.input-field label {
  font-size: 1.2rem;
}

input#name-input.form-control, input#destination-input.form-control, input#time-input.form-control, input#frequency-input.form-control {
  font-size: 1.2rem;
}

input.form-control {
  color: #2bbbad;
}

.page-footer {
  background-color: #3F3F3F;
  padding-right: 30px;
  padding-bottom: 20px;
  text-align: right;
}

a {
  color: #fff;
}